.hour-tittle{
    margin-top: 120px;
}

.resultAviability{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 50px;
}

.card-availability{
    margin-left: 15px;
}